.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.file {
  max-width: 160px;
}

.replay {
  height: 100%;
  width: 100%;
  flex: 1;
}
